.view-container{
    margin-left: 17em;
    margin-top: -153em;


}
.view-top-left{
margin-left: 30px;
font-size:30px ;
display: flex;

}

.view-menu{
    margin-right: 20px;
    color: rgb(55, 67, 89);
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 8px 12px;
    width: 250px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    transition: box-shadow 0.2s ease;
}

.search-bar:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.search-icon {
    font-size: 16px;
    color: #6b7280;
 
}

input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #6b7280;
    width: 100%;
    background: transparent;
}

input::placeholder {
    color: #9ca3af;
    font-weight: 500;
    text-align: center;
}

.view-icons{
    display: flex;
    gap: 30px;
    margin-left: 34em;
    font-size: 20px;
    margin-top: -22px;
  
}

.mode-icons{
    color:#47536a;
    cursor: pointer;
  
}

.moon{
    font-size: 25px;
}

.sun{
    font-size: 25px;
}

.translation{
    font-size: 25px;
    color: #a8acb5;
    cursor: pointer;
}

.settings-icon{
    font-size: 25px;
    color: #a8acb5;
    cursor: pointer;
}

.thunder-icon{
    font-size: 25px;
    color: #a8acb5;
    cursor: pointer;
}
.notification-icon{
    cursor: pointer;   
    font-size: 25px;
}

.view-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -5px;
    cursor: pointer;
}

.board-content{
    padding-top: 30px;
    background-color: rgb(14, 135, 255);
    margin-top: 40px;
    margin-left: 30px;
    width: 59.5em;
    height: 20em;
    padding-left: 40px;
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
}

.board-content h5{
    font-size: 30px;
    margin-bottom: 20px;
}

.board-content button{
   margin-top: 20px;
   background-color: rgb(14, 135, 255);
  height: 40px;
   width: 200px;
   border-radius: 10px;
   border: 1.5px solid #d1d5db;
   padding: 8px 12px;
   color: white;

}

.board-words-image{
    display: flex;
}

.image-board{
    position: absolute;
    margin-top: -20em;
    margin-left: 32em;
}



.box{
    display:inline-flex;
    gap: 20px;
width: 27em;
margin-left: 20px;
   
}

.array-box{
    width: 28em;
    height: 11em;
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0); /* Optional: for better contrast */
    padding: 10px;
    border-radius: 8px; /* Optional: for rounded corners */
    margin: 8px 0;
    border: 1px solid rgb(215, 214, 214);
    text-align: center;
    
}







body.dark-theme  {
    background: black;
    color: rgb(207, 207, 207);
}
body.light-theme{
    background: rgb(255, 255, 255);
}
