.view-container{
    margin-left: 17em;
    margin-top: -153em;


}
.view-top-left{
margin-left: 10px;
font-size:30px ;
display: flex;

}

.view-menu{
    margin-right: 20px;
    color: rgb(55, 67, 89);
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 8px 12px;
    width: 250px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    transition: box-shadow 0.2s ease;
}

.search-bar:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.search-icon {
    font-size: 16px;
    color: #6b7280;
 
}

input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #6b7280;
    width: 100%;
    background: transparent;
}

input::placeholder {
    color: #9ca3af;
    font-weight: 500;
    text-align: center;
}

.view-icons{
    display: flex;
    gap: 30px;
    margin-left: 34em;
    font-size: 20px;
    margin-top: -22px;
  
}

.mode-icons{
    color:#47536a;
    cursor: pointer;
  
}

.moon{
    font-size: 25px;
}

.sun{
    font-size: 25px;
}

.translation{
    font-size: 25px;
    color: #a8acb5;
    cursor: pointer;
}

.settings-icon{
    font-size: 25px;
    color: #a8acb5;
    cursor: pointer;
}

.thunder-icon{
    font-size: 25px;
    color: #a8acb5;
    cursor: pointer;
}
.notification-icon{
    cursor: pointer;   
    font-size: 25px;
}

.view-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -5px;
    cursor: pointer;
}


body.dark-theme  {
    background: black;
    color: rgb(207, 207, 207);
}
body.light-theme{
    background: rgb(255, 255, 255);
}
